body {
	transition: all 0.5s ease;
}

#mainCanvas {
	width: 500px;
	height: 500px;
	border: 1px black dashed;
	border-radius: 1em;
}

.canvasColor {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}
.palette {
	text-align: center;
}
.palette div {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	margin: 0.1em;
	width: 100px; 
	height: 100px;
}
.palette div:hover {
	border-radius: 1em;
	transition: all 0.5s linear;
	border: black solid 2px;
}
